<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- android 14 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:name=".advanced_database.database_relation.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidIntermediate"
        tools:targetApi="31">
        <activity
            android:name=".firebase.firebase_auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".firebase.firebase_auth.FirebaseAuthActivity"
            android:exported="false" />
        <activity
            android:name=".firebase.FirebaseActivity"
            android:exported="false" />
        <activity
            android:name=".advanced_database.database_paging.ui.DatabasePagingActivity"
            android:exported="false" />
        <activity
            android:name=".advanced_database.database_relation.DatabaseRelationActivity"
            android:exported="false" />
        <activity
            android:name=".advanced_database.AdvancedDatabaseActivity"
            android:exported="false" />

        <receiver
            android:name=".geo_location.geofence.GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDCGiAfeiVicQoJ4VQAFktaL21vau78jqI" />

        <activity
            android:name=".geo_location.geofence.MapsFenceActivity"
            android:exported="false"
            android:label="@string/title_activity_maps_fence" />
        <activity
            android:name=".geo_location.location_tracker.MapsTrackerActivity"
            android:exported="false"
            android:label="@string/title_activity_maps_tracker" />
        <activity
            android:name=".geo_location.google_maps.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".geo_location.GeoLocationActivity"
            android:exported="false" />
        <activity
            android:name=".media.camera_gallery.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".media.camera_gallery.CameraGalleryActivity"
            android:exported="false" />

        <service
            android:name=".media.exo_player.PlaybackService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <activity
            android:name=".media.exo_player.ExoPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".media.media_player.MediaPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".media.sound_pool.SoundPoolActivity"
            android:exported="false" />
        <activity
            android:name=".media.MediaActivity"
            android:exported="false" />

        <service
            android:name=".service.MyBoundService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.MyForegroundService"
            android:enabled="true"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="explanation_for_special_use" />
        </service>
        <service
            android:name=".service.MyBackgroundService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".service.ServiceActivity"
            android:exported="false" />
        <activity
            android:name=".localization.LocalizationActivity"
            android:exported="false" />
        <activity
            android:name=".localization.multi_language.MultiLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".animation.motion_layout.MotionLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".animation.transition.HeroActivity"
            android:exported="false" />
        <activity
            android:name=".animation.transition.TransitionActivity"
            android:exported="false" />
        <activity
            android:name=".animation.property_animation.view.welcome.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".animation.property_animation.view.signup.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".animation.property_animation.view.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".animation.property_animation.view.property_animation_main.PropertyAnimationActivity"
            android:exported="false" />
        <activity
            android:name=".animation.AnimationActivity"
            android:exported="false" />
        <activity
            android:name=".advanced_ui.web_view.WebViewActivity"
            android:exported="false" />

        <receiver
            android:name=".advanced_ui.widget.ImageBannerWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/image_banner_widget_info" />
        </receiver>
        <receiver
            android:name=".advanced_ui.widget.RandomNumberWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/random_number_widget_info" />
        </receiver>

        <activity
            android:name=".advanced_ui.widget.WidgetActivity"
            android:exported="false" />
        <activity
            android:name=".advanced_ui.canvas_draw.CanvasDrawActivity"
            android:exported="false" />
        <activity
            android:name=".advanced_ui.custom_view.CustomViewActivity"
            android:exported="false" />
        <activity
            android:name=".advanced_ui.custom_button.CustomButtonAndEditTextActivity"
            android:exported="false" />
        <activity
            android:name=".advanced_ui.AdvancedUiActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".advanced_ui.widget.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".firebase.firebase_fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>